.home-link {
    text-decoration: none;
}

.home-container🏠{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 190px;
    left: 50px
}
#welcome{
    font-size: 50px;
    margin-bottom: 0px;
}

.home-header {
    text-shadow: 1px 1px 10px black;
}

.home-header h2 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

 .volunteer-home-div{
  text-align:  right;
  right: 30px;
  top: 30%;
  z-index: 1;
}

.home-list{
    padding: 0px;
    text-align: left
}



.home-link {
    padding: 0px;
    border-radius: 0px;
    transition: all 300ms ease;
}

.home-link:hover{
    color: #759150;
    transform: scale3d(1.1,1.1,1.1,1)
}



.home-list  {
 list-style-type: none;
}

.home-list li {
  margin-bottom: 10px;
}


 .home-link{
  
  text-align: center;
  font-size: 1.75em;
  color: white;
  text-shadow: 0px 0px 5px black;

 }

 .home-header{
  /* text-align:  left; */
  /* position: absolute; */
  /* left: 20%; */
  /* top: 30%; */
  color: #ffffff;
  z-index: 1;
 }
